---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url('https://raw.githubusercontent.com/teseltech/Healthpack/master/assets/images/capsules-cure-drug-415825.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  color: gray;
  background-position: right;

  padding: 0;



    a {
    display: none;
  }
}
